#wpfooter {
  position: relative;
}
.daterangepicker.show-calendar {
  z-index: 9999 !important;
}
.update-nag {
  display: none;
}
.wrap {
  margin: 0 0 0 0;
}
@media screen and (max-width: 850px) {
  .tabs .documentation,
  .tabs #wpsi-toggle-options,
  .tabs .header-upsell {
    display: none;
  }
  #wpsi-dashboard .wpsi-grid-controls {
    display: flex;
    justify-content: end;
  }
  #wpsi-dashboard #wpsi-recent-table_wrapper {
    overflow: hidden;
  }
  #wpsi-dashboard .inside > div:nth-child(1) {
    float: none;
  }
  #wpsi-dashboard #wpsi-dashboard .dataTables_wrapper {
    max-width: 650px;
  }
  #wpsi-dashboard .table-footer {
    position: relative;
    bottom: 0;
  }
  #wpsi-dashboard .table-footer .wpsi-page-nr {
    flex: 1;
    padding-left: 10px;
    margin-top: -10px;
  }
  #wpsi-dashboard #wpsi-toggle-arrows {
    margin-top: 6px;
  }
  #wpsi-dashboard .wpsi-item {
    margin-top: 10px;
  }
  #wpsi-dashboard .item-container {
    width: 95vw;
  }
  #wpsi-dashboard .wpsi-sub-title {
    padding-top: 30px;
  }
  #wpsi-dashboard .wpsi-rsssl button,
  #wpsi-dashboard .wpsi-cmplz button {
    margin-top: 120px;
  }
  #wpsi-dashboard #settings {
    margin-left: 0;
  }
  #wpsi-dashboard #settings .item-container {
    width: 85vw;
    clear: both;
  }
  #wpsi-dashboard #settings .item-container #wpsi_select_dashboard_capability,
  #wpsi-dashboard #settings .item-container #wpsi_select_term_deletion_period,
  #wpsi-dashboard #settings .item-container .wpsi_term_length {
    font-size: 14px;
  }
}
/**
widget
 */
#dashboard_widget_wpsi,
#wpsi-dashboard {
  font-size: 13px;
}
#dashboard_widget_wpsi .inside,
#wpsi-dashboard .inside {
  padding: 0;
}
#dashboard_widget_wpsi .inside #wpsi-dashboard-widget h3,
#wpsi-dashboard .inside #wpsi-dashboard-widget h3 {
  font-weight: 600;
  margin-top: 10px;
  margin-left: 20px;
  padding-bottom: 5px;
}
#dashboard_widget_wpsi .inside #wpsi-dashboard-widget .wpsi-widget-logo,
#wpsi-dashboard .inside #wpsi-dashboard-widget .wpsi-widget-logo {
  margin-left: 20px;
  display: flex;
}
#dashboard_widget_wpsi .inside #wpsi-dashboard-widget .wpsi-widget-logo span,
#wpsi-dashboard .inside #wpsi-dashboard-widget .wpsi-widget-logo span {
  padding: 10px;
}
#dashboard_widget_wpsi .inside #wpsi-dashboard-widget ul,
#wpsi-dashboard .inside #wpsi-dashboard-widget ul {
  background-color: #fafafa;
  margin: 0;
}
#dashboard_widget_wpsi .inside #wpsi-dashboard-widget li,
#wpsi-dashboard .inside #wpsi-dashboard-widget li {
  border-top: 1px solid #eee;
  margin: 0;
  padding: 8px 12px;
  color: #32373c;
  position: relative;
}
#dashboard_widget_wpsi .inside #wpsi-dashboard-widget li .wpsi-rowfooter,
#wpsi-dashboard .inside #wpsi-dashboard-widget li .wpsi-rowfooter {
  display: flex;
  justify-content: space-between;
}
#dashboard_widget_wpsi .inside #wpsi-dashboard-widget li .wpsi-rowfooter .wpsi-frequency,
#wpsi-dashboard .inside #wpsi-dashboard-widget li .wpsi-rowfooter .wpsi-frequency {
  color: #3c3c3c;
}
#dashboard_widget_wpsi .inside #wpsi-dashboard-widget li .wpsi-rowfooter .wpsi-time,
#wpsi-dashboard .inside #wpsi-dashboard-widget li .wpsi-rowfooter .wpsi-time {
  margin-left: 25px;
  color: #3c3c3c;
}
#dashboard_widget_wpsi .inside #wpsi-dashboard-widget .dashicons-arrow-up-alt,
#wpsi-dashboard .inside #wpsi-dashboard-widget .dashicons-arrow-up-alt {
  color: #61ce70;
}
#dashboard_widget_wpsi .inside #wpsi-dashboard-widget .dashicons-arrow-down-alt,
#wpsi-dashboard .inside #wpsi-dashboard-widget .dashicons-arrow-down-alt {
  color: #d7263d;
}
#dashboard_widget_wpsi .inside #wpsi-dashboard-widget #wpsi-dashboard-widget-footer,
#wpsi-dashboard .inside #wpsi-dashboard-widget #wpsi-dashboard-widget-footer {
  margin-top: 0;
  margin-bottom: 0;
  padding: 12px;
  border-top: 1px solid #eee;
  color: #ddd;
}
#wpsi-dashboard .tabs {
  background: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: center;
  align-items: center;
}
#wpsi-dashboard .tabs .tabs-content {
  display: flex;
  width: 100%;
  margin-left: 40px;
}
@media screen and (max-width: 480px) {
  #wpsi-dashboard .tabs .tabs-content {
    margin-left: 0;
  }
}
#wpsi-dashboard .tabs .tab-links {
  color: #3c3c3c;
  display: flex;
  flex-direction: row;
  margin-left: 0;
}
#wpsi-dashboard .tabs .documentation-pro {
  display: flex;
  align-items: center;
}
#wpsi-dashboard .tabs .header-links {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
#wpsi-dashboard .tabs #wpsi-toggle-arrows {
  margin-top: 6px;
}
#wpsi-dashboard .tabs .documentation {
  margin-right: 15px;
}
.wpsi-dashboard-widget-grid li {
  height: 50px;
  border-top: 0 !important;
  border-bottom: 1px solid #DEDEDE;
  background-color: #fff;
}
.search-info-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.term-frequency-container {
  max-width: 175px;
  padding-left: 25px;
  padding-top: 10px;
}
.term-frequency-container a {
  text-decoration: none;
  color: black;
}
.widget-row {
  display: flex;
}
.widget-row .dashicons {
  font-size: 15px;
  padding-top: 5px;
  margin-top: 10px;
}
.wpsi-dashboard-widget-grid {
  padding-top: 5px;
}
.wpsi-dashboard-widget-grid .wpsi-time {
  margin: 0 !important;
}
.wpsi-dashboard-widget-grid .wpsi-frequency {
  padding-top: 10px;
  text-align: right;
}
.wpsi-dashboard-widget-grid .wpsi-time {
  margin-top: -10px;
}
#wpsi-dashboard {
  /*
  *
  *   Dashboard styling
  *
  */
  /*
      Navigation & tabs
   */
  /*
    General table styling
  */
  /*
      Table footer
   */
  /*
      No Results grid item
   */
  /*
    Progress bar
   */
  /*
    Other plugins
   */
  /*
      *
      *   Settings page styling
      *
   */
  /*
    Tips and Tricks
   */
  /*Tooltips on dashboard/settings page*/
  /*
      Fancy checkboxes
   */
  /* wpsi-tooltip for settings page */
  /* Base styles for the element that has a wpsi-tooltip */
  /* Base styles for the entire tooltip */
  /* Show the entire wpsi-tooltip on hover and focus */
  /* Base styles for the wpsi-tooltip's directional arrow */
  /* Base styles for the wpsi-tooltip's content area */
  /* Directions */
  /* Top (default) */
  /* Horizontally align top/bottom wpsi-tooltips */
  /* Left */
  /* Bottom */
  /* Right */
  /* Move directional arrows down a bit for left/right wpsi-tooltips */
  /* Vertically center wpsi-tooltip content for left/right wpsi-tooltips */
}
#wpsi-dashboard .tab-text {
  color: #444444;
  font-size: 1.2em;
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0;
}
#wpsi-dashboard .tab-text:focus {
  box-shadow: initial;
}
#wpsi-dashboard .wpsi-settings-logo {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
@media screen and (max-width: 480px) {
  #wpsi-dashboard .wpsi-settings-logo {
    display: none;
  }
}
#wpsi-dashboard .wpsi-settings-intro {
  margin-left: 0 !important;
}
#wpsi-dashboard .wpsi-settings-intro-text {
  font-weight: 600;
}
#wpsi-dashboard .wpsi-date-container {
  background: #fff;
  cursor: pointer;
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 15px;
  white-space: nowrap;
}
@media screen and (max-width: 480px) {
  #wpsi-dashboard .wpsi-date-container {
    width: 18px;
    overflow: hidden;
  }
}
#wpsi-dashboard .wpsi-date-container.wpsi-export {
  float: left;
}
#wpsi-dashboard .dataTables_length {
  display: none;
}
#wpsi-dashboard .dataTables_filter {
  margin: -56px 0 0 0;
  position: absolute;
  right: 0;
}
#wpsi-dashboard .search-insights-dashboard {
  display: flex;
  flex-flow: row wrap;
  word-break: break-all;
}
#wpsi-dashboard .wp-search-insights-main .unix-timestamp {
  display: none;
}
#wpsi-dashboard ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  height: 66px;
}
#wpsi-dashboard ul.tabs li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 15px 15px 15px 15px;
  cursor: pointer;
  margin: 0;
}
#wpsi-dashboard ul.tabs li.current {
  background: #ffffff;
  color: #222;
}
#wpsi-dashboard .tab-content {
  display: none;
  background: #F1F1F1;
  padding: 15px;
}
#wpsi-dashboard #wpsi-delete-selected,
#wpsi-dashboard #wpsi-ignore-selected {
  display: none;
  text-shadow: none !important;
  vertical-align: middle;
  margin-right: 39px;
  margin-bottom: 10px;
  padding: 10px 10px;
  line-height: 12px;
  min-height: 25px;
}
#wpsi-dashboard #wpsi-delete-selected .wpsi-delete-icon,
#wpsi-dashboard #wpsi-ignore-selected .wpsi-delete-icon {
  display: none;
}
@media screen and (max-width: 480px) {
  #wpsi-dashboard #wpsi-delete-selected .wpsi-delete-icon,
  #wpsi-dashboard #wpsi-ignore-selected .wpsi-delete-icon {
    display: block;
  }
  #wpsi-dashboard #wpsi-delete-selected .wpsi-delete-text,
  #wpsi-dashboard #wpsi-ignore-selected .wpsi-delete-text {
    display: none;
  }
}
#wpsi-dashboard #wpsi-delete-selected {
  margin-right: 20px;
}
#wpsi-dashboard .tab-content.current {
  display: inherit;
}
#wpsi-dashboard .current .tab-text {
  padding-bottom: 23px;
  border-bottom: 2px solid #d7263d;
}
#wpsi-dashboard #dashboard .dataTables_wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#wpsi-dashboard #dashboard .item-content {
  padding: 15px 20px;
  flex: 1;
  margin: 0 auto;
  position: relative;
}
#wpsi-dashboard #dashboard .item-content input[type="search"] {
  width: 250px;
  margin-right: 20px;
  border: 1px solid #DEDEDE;
  padding: 0 8px;
  line-height: 2;
  min-height: 30px;
}
@media screen and (max-width: 480px) {
  #wpsi-dashboard #dashboard .item-content input[type="search"] {
    width: 150px;
  }
}
#wpsi-dashboard #dashboard .item-content table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  justify-content: normal;
}
#wpsi-dashboard #dashboard .item-content table.dataTable .wpsi-selected {
  background-color: rgba(41, 182, 246, 0.35);
}
#wpsi-dashboard #dashboard .item-content table caption {
  height: 50px;
  text-align: left;
  margin-top: -10px;
  padding-bottom: 10px;
}
#wpsi-dashboard #dashboard .item-content table tbody tr {
  border-bottom: 0.1em solid #DEDEDE;
}
#wpsi-dashboard #dashboard .item-content table tr {
  height: 40px;
  background-color: #f8f8f8;
  padding: 0.35em;
}
#wpsi-dashboard #dashboard .item-content table th,
#wpsi-dashboard #dashboard .item-content table td {
  padding: 0.625em;
  text-align: left;
  font-size: 12px;
}
#wpsi-dashboard #dashboard .item-content table th {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right;
}
#wpsi-dashboard #dashboard .item-content table th:focus {
  outline: none;
}
#wpsi-dashboard #dashboard .item-content table th.sorting_asc {
  background-image: url(../images/sort_asc.png);
}
#wpsi-dashboard #dashboard .item-content table th.sorting_desc {
  background-image: url(../images/sort_desc.png);
}
#wpsi-dashboard #dashboard .item-content table tbody {
  color: #3c3c3c;
}
#wpsi-dashboard #dashboard .item-content table tr:nth-child(even) {
  background-color: #FFFFFF;
}
#wpsi-dashboard #dashboard .item-content table tr:nth-child(odd) {
  background-color: #FFFFFF;
}
#wpsi-dashboard #dashboard .item-content table tr:first-child {
  border-top-left-radius: 0.55rem;
  border-top-right-radius: 0.55rem;
}
#wpsi-dashboard #dashboard .item-content table tr:last-child {
  margin-bottom: 0;
  border-bottom-left-radius: 0.55rem;
  border-bottom-right-radius: 0.55rem;
}
#wpsi-dashboard .full-width .item-content th {
  display: none;
}
#wpsi-dashboard .full-width .item-content td {
  padding: 0;
}
#wpsi-dashboard .full-width .item-content td textarea {
  height: 100px;
}
#wpsi-dashboard .wpsi-term {
  max-width: 250px;
}
#wpsi-dashboard .wpsi-term a {
  text-decoration: none;
  color: #3c3c3c;
  max-width: 200px;
  display: block;
}
#wpsi-dashboard .wpsi-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s linear;
  white-space: nowrap;
}
#wpsi-dashboard .wpsi-ellipsis:focus,
#wpsi-dashboard .wpsi-ellipsis:hover {
  color: transparent;
}
#wpsi-dashboard .wpsi-ellipsis:focus:after,
#wpsi-dashboard .wpsi-ellipsis:hover:after {
  content: attr(data-text);
  overflow: visible;
  text-overflow: inherit;
  background: #fff;
  position: absolute;
  left: auto;
  top: auto;
  width: auto;
  max-width: 30rem;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0px 0px 5px 5px rgba(222, 222, 222, 0.2);
  white-space: normal;
  word-wrap: break-word;
  display: block;
  color: black;
  margin-top: -1.25rem;
  z-index: 2;
}
#wpsi-dashboard .wpsi-grid-controls {
  float: right;
  margin-top: -8px;
}
#wpsi-dashboard .wpsi-grid-controls .wpsi-date-filter {
  border: 1px solid #DEDEDE;
}
#wpsi-dashboard .hit-icon {
  font-size: 1.6em;
}
#wpsi-dashboard .icon-cancel {
  color: #d7263d;
}
#wpsi-dashboard .icon-ok {
  color: #61ce70;
}
#wpsi-dashboard #term-link {
  text-decoration: none;
}
#wpsi-dashboard .table-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  position: absolute;
  bottom: 45px;
  width: 100%;
}
#wpsi-dashboard .table-footer button {
  float: right;
}
#wpsi-dashboard .dataTables_info {
  text-align: left;
  margin-left: 15px;
  width: 30%;
}
#wpsi-dashboard .dt-buttons {
  text-align: center;
  width: 30%;
}
#wpsi-dashboard .dt-button {
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  padding-top: 20px;
  cursor: pointer;
  text-decoration: -webkit-link;
  color: #0073aa;
  transition-property: border, background, color;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
  text-decoration: underline;
}
#wpsi-dashboard .dt-button:hover {
  opacity: 0.75;
}
#wpsi-dashboard .dataTables_paginate {
  flex: 1;
  margin-bottom: 10px;
  cursor: pointer;
}
#wpsi-dashboard .dataTables_paginate .paginate_button {
  color: black;
  padding: 0.5em 1em;
  box-sizing: border-box;
  border: 1px solid #DEDEDE;
  box-shadow: 0px 1px 1px #DEDEDE;
}
#wpsi-dashboard .dataTables_paginate .paginate_button.next,
#wpsi-dashboard .dataTables_paginate .paginate_button.previous {
  padding: 0.5em 1.8em;
  color: #d7263d;
}
#wpsi-dashboard .dataTables_paginate .paginate_button.disabled {
  color: #ededed;
}
#wpsi-dashboard .dataTables_paginate .paginate_button.current {
  color: white;
  background-color: #d7263d;
  border: 0;
}
#wpsi-dashboard #wpsi-recent-table_previous {
  padding: 0.5em 1.8em;
  color: #d7263d;
}
#wpsi-dashboard .wpsi-nr-overview {
  margin: 0 auto;
  width: 95%;
}
#wpsi-dashboard .wpsi-nr-title {
  font-size: 1.1em;
  font-weight: 700;
}
#wpsi-dashboard .wpsi-nr-title-in-widget {
  font-weight: 600;
}
#wpsi-dashboard .wpsi-nr-header {
  display: flex;
  flex-direction: column;
  height: 50px;
}
#wpsi-dashboard .wpsi-nr-header-items {
  padding-top: 10px;
  font-weight: 500;
}
#wpsi-dashboard .nr-widget-results-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #DEDEDE;
}
#wpsi-dashboard .popular-terms-title {
  padding-top: 15px;
}
#wpsi-dashboard .progress-bar-container {
  padding-top: 15px;
  margin: 0 auto;
}
#wpsi-dashboard .progress {
  overflow: hidden;
  height: 20px;
  border-radius: 5px;
  background-color: #f7f7f7;
}
#wpsi-dashboard .progress .bar {
  height: 100%;
  background-color: #61ce70;
}
#wpsi-dashboard .progress-text {
  display: flex;
  padding-top: 20px;
}
#wpsi-dashboard .percentage {
  font-size: 3.2em;
  font-weight: 700;
}
#wpsi-dashboard .percentage-text {
  padding-left: 10px;
}
#wpsi-dashboard .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}
#wpsi-dashboard .dot-and-text {
  display: flex;
}
#wpsi-dashboard .result-title {
  font-weight: 600;
  padding-left: 10px;
}
#wpsi-dashboard .dot-success {
  background-color: #61ce70;
}
#wpsi-dashboard .dot-error {
  background-color: #d7263d;
}
#wpsi-dashboard .wpsi-result-count {
  color: #3c3c3c;
  padding-top: 10px;
  padding-left: 20px;
}
#wpsi-dashboard .wpsi-no-results {
  margin-top: -17px;
}
#wpsi-dashboard .wpsi-total-searches {
  padding-top: 25px;
  padding-bottom: 10px;
}
#wpsi-dashboard .wpsi-search-count {
  font-size: 1.1em;
  font-weight: 700;
  float: right;
}
#wpsi-dashboard .date-btn-all-searches {
  position: absolute;
  right: 180px;
  margin-top: 5px;
}
#wpsi-dashboard .wpsi-nr-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
#wpsi-dashboard .wpsi-nr-footer .dt-buttons {
  margin: 0 auto;
}
#wpsi-dashboard .wpsi-bullet {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 10px;
}
#wpsi-dashboard .upsell-grid-container .rsp-logo img {
  height: 30px;
}
#wpsi-dashboard .upsell-grid-container .wpsi-upsell {
  display: flex !important;
  flex-direction: row;
  padding: 6px;
  align-items: center;
  color: #3c3c3c;
}
#wpsi-dashboard .upsell-grid-container .wpsi-upsell .rsssl-yellow {
  background-color: #EFBF4B;
}
#wpsi-dashboard .upsell-grid-container .wpsi-upsell .cmplz-blue {
  background-color: #27ADEA;
}
#wpsi-dashboard .upsell-grid-container .wpsi-upsell .zip-pink {
  background-color: #E366A1;
}
#wpsi-dashboard .upsell-grid-container .wpsi-upsell .plugin-status {
  margin-left: auto;
}
#wpsi-dashboard #wpsi-start-export {
  float: right;
}
#wpsi-dashboard .wpsi-settings .item-content {
  max-height: 325px;
  overflow-y: scroll;
}
#wpsi-dashboard .wpsi-settings-intro {
  display: inline-block;
  padding-top: 10px;
  margin-bottom: 25px;
  margin-left: -58px;
}
#wpsi-dashboard .icon-cog-alt {
  display: inline-block;
  font-size: 2.3em;
  color: #d7263d;
  vertical-align: middle;
}
#wpsi-dashboard .wpsi-settings-intro-text {
  font-size: 1.3em;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
#wpsi-dashboard .rsp-image {
  height: 35px;
  margin-left: 10px;
  margin-bottom: -12px;
}
#wpsi-dashboard .form-table {
  padding-left: 50px;
}
#wpsi-dashboard #wpsi-filter {
  background-color: #fff;
  height: 250px;
  width: 825px;
  box-shadow: 0px 0px 5px 5px rgba(222, 222, 222, 0.2);
}
#wpsi-dashboard .settings-title {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 950px) {
  #wpsi-dashboard .settings-block {
    width: 85vw !important;
  }
}
#wpsi-dashboard .settings-title {
  display: flex;
  flex-direction: column;
}
#wpsi-dashboard #settings .form-table th {
  padding-top: 16px;
  font-weight: 400;
  width: initial;
}
#wpsi-dashboard #settings .wpsi-download-link {
  padding-top: 6px;
  margin-right: 20px;
}
#wpsi-dashboard #settings input[type=text],
#wpsi-dashboard #settings textarea,
#wpsi-dashboard #settings select {
  border: 1px solid #DEDEDE;
}
#wpsi-dashboard #settings textarea {
  width: 100%;
}
#wpsi-dashboard #settings .wpsi-export-grid td {
  display: flex;
}
#wpsi-dashboard #wpsi_exclude_admin {
  display: none;
}
#wpsi-dashboard .wpsi_term_length {
  width: 60px;
  text-align: center;
}
#wpsi-dashboard .thickbox {
  padding-bottom: 20px;
  background-color: #d7263d;
  margin-left: -10px;
  color: white;
  border: none;
  height: 30px;
}
#wpsi-dashboard #clear-searches-btn-border {
  border-bottom: 1px solid #DEDEDE;
  margin-bottom: 20px;
  width: 95%;
}
#wpsi-dashboard .wpsi-tips-tricks .item-content > div,
#wpsi-dashboard .upsell-grid-container .item-content > div {
  display: flex !important;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
  margin-bottom: 10px;
  border-bottom: 1px solid #DEDEDE;
}
@media screen and (max-width: 480px) {
  #wpsi-dashboard .wpsi-tips-tricks .item-content > div,
  #wpsi-dashboard .upsell-grid-container .item-content > div {
    flex-direction: row;
    overflow: hidden;
  }
}
#wpsi-dashboard .wpsi-tips-tricks .item-content > div .wpsi-tips-tricks-element,
#wpsi-dashboard .upsell-grid-container .item-content > div .wpsi-tips-tricks-element,
#wpsi-dashboard .wpsi-tips-tricks .item-content > div .plugin-text,
#wpsi-dashboard .upsell-grid-container .item-content > div .plugin-text {
  color: #3c3c3c;
}
#wpsi-dashboard .wpsi-tips-tricks .item-content > div .wpsi-tips-tricks-element a,
#wpsi-dashboard .upsell-grid-container .item-content > div .wpsi-tips-tricks-element a,
#wpsi-dashboard .wpsi-tips-tricks .item-content > div .plugin-text a,
#wpsi-dashboard .upsell-grid-container .item-content > div .plugin-text a {
  text-decoration: none;
  color: #3c3c3c;
}
#wpsi-dashboard .wpsi-tips-tricks .item-content > div .wpsi-tips-tricks-element a:hover,
#wpsi-dashboard .upsell-grid-container .item-content > div .wpsi-tips-tricks-element a:hover,
#wpsi-dashboard .wpsi-tips-tricks .item-content > div .plugin-text a:hover,
#wpsi-dashboard .upsell-grid-container .item-content > div .plugin-text a:hover {
  color: #d7263d;
}
#wpsi-dashboard .wpsi-tips-tricks .item-content > div .wpsi-tips-tricks-element .wpsi-bullet,
#wpsi-dashboard .upsell-grid-container .item-content > div .wpsi-tips-tricks-element .wpsi-bullet,
#wpsi-dashboard .wpsi-tips-tricks .item-content > div .plugin-text .wpsi-bullet,
#wpsi-dashboard .upsell-grid-container .item-content > div .plugin-text .wpsi-bullet {
  margin: 7px;
  background-color: #ededed;
  float: left;
}
#wpsi-dashboard .wpsi-tips-tricks .item-content > div .wpsi-tips-tricks-element .wpsi-bullet:hover,
#wpsi-dashboard .upsell-grid-container .item-content > div .wpsi-tips-tricks-element .wpsi-bullet:hover,
#wpsi-dashboard .wpsi-tips-tricks .item-content > div .plugin-text .wpsi-bullet:hover,
#wpsi-dashboard .upsell-grid-container .item-content > div .plugin-text .wpsi-bullet:hover {
  background-color: #d7263d;
}
#wpsi-dashboard .wpsi-tips-tricks .item-content > div .wpsi-tips-tricks-element .wpsi-tips-tricks-content,
#wpsi-dashboard .upsell-grid-container .item-content > div .wpsi-tips-tricks-element .wpsi-tips-tricks-content,
#wpsi-dashboard .wpsi-tips-tricks .item-content > div .plugin-text .wpsi-tips-tricks-content,
#wpsi-dashboard .upsell-grid-container .item-content > div .plugin-text .wpsi-tips-tricks-content {
  margin: 7px 0;
  float: left;
}
#wpsi-dashboard .wpsi-tips-tricks-container-title {
  border-bottom: 1px solid #DEDEDE;
}
#wpsi-dashboard .wpsi-tooltip-right,
#wpsi-dashboard .wpsi-tooltip-bottom {
  font-weight: normal;
}
#wpsi-dashboard .wpsi-tooltip-right {
  float: right;
}
#wpsi-dashboard #settings .wpsi-tooltip-right {
  margin-left: 8px;
  margin-top: 1px;
}
#wpsi-dashboard .dashboard-tooltip-hits > span:nth-child(1) > span:nth-child(1) {
  margin-left: -135px;
}
#wpsi-dashboard .dashboard-tooltip-from > span:nth-child(1) > span:nth-child(1) {
  margin-left: -65px;
}
#wpsi-dashboard .wpsi-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 21px;
}
#wpsi-dashboard .wpsi-switch input {
  display: none;
}
#wpsi-dashboard .wpsi-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#wpsi-dashboard .wpsi-slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#wpsi-dashboard .wpsi-slider.wpsi-round {
  border-radius: 20px;
}
#wpsi-dashboard .wpsi-slider.wpsi-round:before {
  border-radius: 50%;
}
#wpsi-dashboard input:checked + .wpsi-slider {
  background-color: #29b6f6;
}
#wpsi-dashboard input:checked + .wpsi-slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}
#wpsi-dashboard input:checked:disabled + .wpsi-slider {
  background-color: #edf9fe;
}
#wpsi-dashboard input:focus + .wpsi-slider {
  box-shadow: 0 0 1px #29b6f6;
}
#wpsi-dashboard [data-wpsi-tooltip],
#wpsi-dashboard .wpsi-tooltip {
  position: relative;
  cursor: pointer;
}
#wpsi-dashboard [data-wpsi-tooltip]:before,
#wpsi-dashboard [data-wpsi-tooltip]:after,
#wpsi-dashboard .wpsi-tooltip:before,
#wpsi-dashboard .wpsi-tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}
#wpsi-dashboard [data-wpsi-tooltip]:hover:before,
#wpsi-dashboard [data-wpsi-tooltip]:hover:after,
#wpsi-dashboard [data-wpsi-tooltip]:focus:before,
#wpsi-dashboard [data-wpsi-tooltip]:focus:after,
#wpsi-dashboard .wpsi-tooltip:hover:before,
#wpsi-dashboard .wpsi-tooltip:hover:after,
#wpsi-dashboard .wpsi-tooltip:focus:before,
#wpsi-dashboard .wpsi-tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#wpsi-dashboard .wpsi-tooltip:before,
#wpsi-dashboard [data-wpsi-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}
#wpsi-dashboard .wpsi-tooltip:after,
#wpsi-dashboard [data-wpsi-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-wpsi-tooltip);
  font-size: 14px;
  line-height: 1.2;
}
#wpsi-dashboard [data-wpsi-tooltip]:before,
#wpsi-dashboard [data-wpsi-tooltip]:after,
#wpsi-dashboard .wpsi-tooltip:before,
#wpsi-dashboard .wpsi-tooltip:after,
#wpsi-dashboard .wpsi-tooltip-top:before,
#wpsi-dashboard .wpsi-tooltip-top:after {
  bottom: 100%;
  left: 50%;
}
#wpsi-dashboard [data-wpsi-tooltip]:before,
#wpsi-dashboard .wpsi-tooltip:before,
#wpsi-dashboard .wpsi-tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}
#wpsi-dashboard [data-wpsi-tooltip]:after,
#wpsi-dashboard .wpsi-tooltip:after,
#wpsi-dashboard .wpsi-tooltip-top:after {
  margin-left: -80px;
}
#wpsi-dashboard [data-wpsi-tooltip]:hover:before,
#wpsi-dashboard [data-wpsi-tooltip]:hover:after,
#wpsi-dashboard [data-wpsi-tooltip]:focus:before,
#wpsi-dashboard [data-wpsi-tooltip]:focus:after,
#wpsi-dashboard .wpsi-tooltip:hover:before,
#wpsi-dashboard .wpsi-tooltip:hover:after,
#wpsi-dashboard .wpsi-tooltip:focus:before,
#wpsi-dashboard .wpsi-tooltip:focus:after,
#wpsi-dashboard .wpsi-tooltip-top:hover:before,
#wpsi-dashboard .wpsi-tooltip-top:hover:after,
#wpsi-dashboard .wpsi-tooltip-top:focus:before,
#wpsi-dashboard .wpsi-tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  transform: translateY(-12px);
}
#wpsi-dashboard .wpsi-tooltip-left:before,
#wpsi-dashboard .wpsi-tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}
#wpsi-dashboard .wpsi-tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}
#wpsi-dashboard .wpsi-tooltip-left:hover:before,
#wpsi-dashboard .wpsi-tooltip-left:hover:after,
#wpsi-dashboard .wpsi-tooltip-left:focus:before,
#wpsi-dashboard .wpsi-tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform: translateX(-12px);
  transform: translateX(-12px);
}
#wpsi-dashboard .wpsi-tooltip-bottom:before,
#wpsi-dashboard .wpsi-tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}
#wpsi-dashboard .wpsi-tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}
#wpsi-dashboard .wpsi-tooltip-bottom:hover:before,
#wpsi-dashboard .wpsi-tooltip-bottom:hover:after,
#wpsi-dashboard .wpsi-tooltip-bottom:focus:before,
#wpsi-dashboard .wpsi-tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform: translateY(12px);
  transform: translateY(12px);
}
#wpsi-dashboard .wpsi-tooltip-right:before,
#wpsi-dashboard .wpsi-tooltip-right:after {
  bottom: 50%;
  left: 100%;
}
#wpsi-dashboard .wpsi-tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}
#wpsi-dashboard .wpsi-tooltip-right:hover:before,
#wpsi-dashboard .wpsi-tooltip-right:hover:after,
#wpsi-dashboard .wpsi-tooltip-right:focus:before,
#wpsi-dashboard .wpsi-tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform: translateX(12px);
  transform: translateX(12px);
}
#wpsi-dashboard .wpsi-tooltip-left:before,
#wpsi-dashboard .wpsi-tooltip-right:before {
  top: 3px;
}
#wpsi-dashboard .wpsi-tooltip-left:after,
#wpsi-dashboard .wpsi-tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}
/*
    Toggle boxes styling
 */
#wpsi-toggle-dashboard {
  margin-bottom: 10px;
  height: 90px;
  display: none;
  position: relative;
  background-color: #fff;
  border: 1px solid #ccd0d4;
  border-top: 0;
  box-shadow: 0 0 0 transparent;
}
#wpsi-toggle-dashboard #wpsi-toggle-dashboard-text {
  padding-top: 25px;
  padding-left: 35px;
  font-weight: 600;
}
#wpsi-toggle-dashboard #wpsi-checkboxes {
  padding: 10px 0 0 20px;
}
#wpsi-toggle-dashboard #wpsi-checkboxes .wpsi-toggle-items {
  margin-left: 15px !important;
}
#wpsi-toggle-link-wrap {
  width: 150px;
}
#wpsi-toggle-link-wrap #wpsi-show-toggles {
  width: 135px ;
  background-color: white ;
  color: #000000;
  border-color: #ccc;
}
.wpsi-thickboxheader {
  margin-top: 15px;
  font-weight: 600;
}
/*
Animated skeleton screen using CSS.

Create shapes using gradients that simulate solids.

Use `:empty` pseduo-class to show skeleton screen background only while container has no content (ex: for the "loading" state). When content is added to the container element, the pseudo-class selector won't match anymore and the skeleton screen will be removed automatically; no need to toggle a separate class on the container.

See: https://developer.mozilla.org/en-US/docs/Web/CSS/:empty

Animating one layer of the background which is a tilted linear gradient with white in the middle to achieve shine effect.
*/
.wpsi-skeleton:empty {
  width: 350px;
  height: 400px;
  /* change height to see repeat-y behavior */
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 80%), linear-gradient(#dadada 20px, transparent 0), linear-gradient(#dadada 20px, transparent 0), linear-gradient(#dadada 20px, transparent 0), linear-gradient(#dadada 20px, transparent 0);
  background-repeat: repeat-y;
  background-size: 50px 160px, /* highlight */ 150px 160px, 350px 160px, 300px 160px, 250px 160px;
  background-position: 0 0, /* highlight */ 0px 0, 0px 40px, 0px 80px, 0px 120px;
  animation: shine 1s infinite;
}
@keyframes shine {
  to {
    background-position: 100% 0, /* move highlight to right */ 0px 0, 0px 40px, 0px 80px, 0px 120px;
  }
}
/* Notices */
.wpsi-panel {
  font-size: 13px!important;
  color: #383d41;
  background-color: #F2F2F2;
  border: 1px solid #d6d8db;
  padding: 10px 15px;
  border-radius: 0px;
  margin: 0px 0;
}
.wpsi-panel .wpsi-panel-title {
  cursor: pointer;
}
.wpsi-panel .wpsi-field > div {
  margin: 10px 0;
}
.wpsi-panel .wpsi-panel-content {
  display: none;
  background-color: #fff;
  border: 1px solid #d6d8db;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 15px;
}
.wpsi-panel h1 {
  font-size: 22px;
}
.wpsi-panel p {
  font-size: 13px!important;
}
.wpsi-panel.wpsi-notice {
  background-color: #fff;
  border: 0 #fff;
  border-left: 4px solid #29b6f6;
  color: black;
  margin: 10px 0px 10px 0px;
  padding-left: 15px;
}
.wpsi-panel.wpsi-success {
  background-color: #61ce70;
  border-color: #61ce70;
  color: #fff;
}
.wpsi-panel.wpsi-warning {
  color: #333333;
  background-color: #fbc43d;
  border-color: #fbc43d;
  margin: 10px 0px 10px 0px;
}
.wpsi-panel ul {
  list-style-type: disc;
  margin-left: 22px;
}
/*# sourceMappingURL=style.css.map */