@color-blue: #29b6f6;
@color-success: #61ce70;
@brand-primary: #d7263d;
@color-error: @brand-primary;
@light-text-color: #3c3c3c;
@border-color: #DEDEDE;
@grey-light: #ededed;

//hack to make sure the wp footer is at the bottom
#wpfooter{
  position:relative;
}

//make sure it floats on top of the wp menu
.daterangepicker.show-calendar {
  z-index: 9999 !important;
}

.update-nag {
  display: none;
}

.wrap {
  margin: 0 0 0 0;
}



@media screen and (max-width: 850px) {

  .tabs {
    .documentation, #wpsi-toggle-options,.header-upsell {
      display: none;
    }
  }

  #wpsi-dashboard {

    .wpsi-grid-controls {
      display: flex;
      justify-content: end;
    }

    #wpsi-recent-table_wrapper {
      overflow: hidden;
      .dataTables_paginate {
        //display: flex;
        //flex-wrap: wrap;
      }
    }

    .inside > div:nth-child(1) {
      float: none;
    }

    #wpsi-dashboard .dataTables_wrapper {
      max-width: 650px;
    }

    .table-footer {
      position: relative;
      bottom: 0;
      .wpsi-page-nr {
        flex: 1;
        padding-left: 10px;
        margin-top: -10px;
      }
    }

    #wpsi-toggle-arrows {
      margin-top: 6px;
    }

    // Second grid item top to prevent overflowing table
    .wpsi-item {
      margin-top: 10px;
    }

    .item-container {
      //height: 800px;
      width: 95vw;
    }

    .wpsi-sub-title {
      padding-top: 30px;
    }

    .wpsi-rsssl, .wpsi-cmplz {
      button {
        margin-top: 120px;
      }
    }

    #settings {
      margin-left: 0;
      .item-container {
        width: 85vw;
        height: 800px;
        clear:both
      }
    }
  }
}

/**
widget
 */
#dashboard_widget_wpsi, #wpsi-dashboard {
  font-size:13px;
  .inside {
    padding: 0;

    #wpsi-dashboard-widget {
      h3 {
        font-weight: 600;
        margin-top: 10px;
        margin-left: 20px;
        padding-bottom: 5px;
      }

      .wpsi-widget-logo {
        margin-left: 20px;
        display: flex;

        span {
          padding: 10px;
        }
      }

      ul {
        background-color: #fafafa;
        margin: 0;
      }

      li {
        border-top: 1px solid #eee;
        margin: 0;
        padding: 8px 12px;
        color: #32373c;
        position: relative;

        .wpsi-rowfooter {
          display: flex;
          justify-content: space-between;

          .wpsi-frequency {
            color: @light-text-color;
          }

          .wpsi-time {
            margin-left: 25px;
            color: @light-text-color;
          }
        }

      }

      .dashicons-arrow-up-alt {
        color: @color-success;
      }

      .dashicons-arrow-down-alt {
        color: @color-error;
      }

      #wpsi-dashboard-widget-footer {
        margin-top: 0;
        margin-bottom: 0;
        padding: 12px;
        border-top: 1px solid #eee;
        color: #ddd;
      }
    }
  }
}

#wpsi-dashboard {

  .tabs {
    background: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-content: center;
    align-items: center;

    .tabs-content {
      display: flex;
      width: 100%;
      margin-left: 40px;
      @media screen and (max-width: 480px) {
        margin-left: 0;
      }
    }

    .tab-links {
      color: @light-text-color;
      display: flex;
      flex-direction: row;
      margin-left: 0;
    }

    .documentation-pro {
      display: flex;
      align-items: center;
    }

    .header-links {
      width: 90%;
      display: flex;
      justify-content: space-between;
    }

    #wpsi-toggle-arrows {
      margin-top: 6px;
    }

    .documentation {
      margin-right: 15px;
    }
  }
}

.wpsi-dashboard-widget-grid {
  li {
    height: 50px;
    border-top: 0 !important;
    border-bottom: 1px solid @border-color;
    background-color: #fff;
  }
}

.search-info-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.term-frequency-container {
  max-width: 175px;
  padding-left: 25px;
  padding-top: 10px;

  a {
    text-decoration: none;
    color: black;
  }
}

.widget-row {
  display: flex;
}

.widget-row .dashicons {
  font-size: 15px;
  padding-top: 5px;
  margin-top: 10px;
}

.wpsi-dashboard-widget-grid {
  .wpsi-time {
    margin: 0 !important;
  }

  padding-top: 5px;

  .wpsi-frequency {
    padding-top: 10px;
    text-align: right;
  }

  .wpsi-time {
    margin-top: -10px
  }
}

#wpsi-dashboard {

  /*
  *
  *   Dashboard styling
  *
  */

  .tab-text {
    color: #444444;
    font-size: 1.2em;
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;

    &:focus {
      box-shadow: initial;
    }
  }

  .wpsi-settings-logo {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    width: 50px;
  }
  @media screen and (max-width: 480px) {
    .wpsi-settings-logo {
      display:none;
    }
  }
  
  .wpsi-settings-intro {
    margin-left: 0 !important;
  }

  .wpsi-settings-intro-text {
    font-weight: 600;
  }




  .wpsi-date-container {
    background: #fff;
    cursor: pointer;
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius:3px;
    margin-right: 15px;
    white-space: nowrap;
    @media screen and (max-width: 480px) {
      width: 18px;
      overflow: hidden;
    }
    &.wpsi-export {
      float: left;
    }
  }

  //hide the "25 entries" dropdown
  .dataTables_length {
    display: none;
  }

  .dataTables_filter {
    margin: -56px 0 0 0;
    position: absolute;
    right: 0;
  }

  .search-insights-dashboard {
    display: flex;
    flex-flow: row wrap;
    word-break: break-all;
  }

  .wp-search-insights-main .unix-timestamp {
    display: none;
  }

  /*
      Navigation & tabs
   */

  ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    height: 66px;
    li {
      background: none;
      color: #222;
      display: inline-block;
      padding: 15px 15px 15px 15px;
      cursor: pointer;
      margin: 0;
      &.current {
        background: #ffffff;
        color: #222;
      }
    }
  }

  .tab-content {
    display: none;
    background: #F1F1F1;
    padding: 15px;
  }

  #wpsi-delete-selected, #wpsi-ignore-selected {
    .wpsi-delete-icon {
      display:none;
    }
    @media screen and (max-width: 480px) {
      .wpsi-delete-icon {
        display:block;
      }
      .wpsi-delete-text {
        display:none;
      }
    }
    display: none;
    text-shadow: none !important;
    vertical-align: middle;
    margin-right: 39px;
    margin-bottom: 10px;
    padding: 10px 10px;
    line-height: 12px;
    min-height: 25px;
  }

  #wpsi-delete-selected {
    margin-right: 20px;
  }
  #wpsi-ignore-selected {
    //margin-right: 50px;
  }

  .tab-content.current {
    display: inherit;
  }

  .current .tab-text {
    padding-bottom: 23px;
    border-bottom: 2px solid @color-error;
  }


  /*
    General table styling
  */

  #dashboard {
  .dataTables_wrapper {
    //max-width: 800px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .item-content {
    padding: 15px 20px;
    flex: 1;
    margin: 0 auto;
    position: relative;

    input[type="search"] {
      width: 250px;
      margin-right: 20px;
      border: 1px solid @border-color;
      //some style to prevent override from wp on mobile
      padding: 0 8px;
      line-height: 2;
      min-height: 30px;
      @media screen and (max-width: 480px) {
        width: 150px;
      }
    }

    table {
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      table-layout: fixed;
      justify-content: normal;

      &.dataTable {
        .wpsi-selected {
          background-color: rgba(41, 182, 246, 0.35);
        }
      }

      caption {
        //font-weight: 600;
        //width: 50%;
        //font-size: 1.5em;
        height: 50px;
        text-align: left;
        margin-top: -10px;
        padding-bottom: 10px;
      }

      tbody tr {
        border-bottom: .1em solid @border-color;
      }

      tr {
        height: 40px;
        background-color: #f8f8f8;
        padding: .35em;
      }
      th,
      td {
        padding: .625em;
        text-align: left;
        font-size: 12px;
      }

      th {
        &:focus {
          outline: none;
        }
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: right;
        &.sorting_asc{
          background-image: url(../images/sort_asc.png);
        }
        &.sorting_desc{
          background-image: url(../images/sort_desc.png);
        }
      }

      tbody {
        color: @light-text-color;
      }

      tr:nth-child(even) {
        background-color: #FFFFFF;
      }

      tr:nth-child(odd) {
        background-color: #FFFFFF;
      }

      tr:first-child {
        border-top-left-radius: .55rem;
        border-top-right-radius: .55rem;
      }

      tr:last-child {
        margin-bottom: 0;
        border-bottom-left-radius: .55rem;
        border-bottom-right-radius: .55rem;
      }
    }
  }
}

  //give textarea in filter grid a full width
  .full-width .item-content  {
    th {
      display: none;
    }
    td {
      padding:0;
      textarea {
        height:100px;
      }
    }
  }

  .wpsi-term {
    max-width: 250px;
    a {
      text-decoration: none;
      color: @light-text-color;
      max-width: 200px;
      display: block;
    }
  }

  .wpsi-ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .2s linear;
    white-space: nowrap;
  }
  .wpsi-ellipsis:focus, .wpsi-ellipsis:hover {
    color:transparent;
  }
  .wpsi-ellipsis:focus:after,.wpsi-ellipsis:hover:after{
    content:attr(data-text);
    overflow: visible;
    text-overflow: inherit;
    background: #fff;
    position: absolute;
    left:auto;
    top:auto;
    width: auto;
    max-width: 30rem;
    border: 1px solid @border-color;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0px 0px 5px 5px rgba(222, 222, 222, 0.2);
    white-space: normal;
    word-wrap: break-word;
    display:block;
    color:black;
    margin-top:-1.25rem;
    z-index: 2;
  }

  .wpsi-grid-controls {
    float:right;
    margin-top:-8px;
    .wpsi-date-filter {
      border: 1px solid @border-color;
    }
  }

  .hit-icon {
    font-size: 1.6em;
  }

  .icon-cancel {
    color: @color-error;
  }

  .icon-ok {
    color: @color-success;
  }

  #term-link {
    text-decoration: none;
  }

  /*
      Table footer
   */

  .table-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    position: absolute;
    bottom: 45px;
    width: 100%;

    button {
      float: right;
    }
  }

  .dataTables_info {
    text-align: left;
    margin-left: 15px;
    width: 30%;
  }

  .dt-buttons {
    text-align: center;
    width: 30%;
  }

  .dt-button {
    position: relative;
    display: inline-block;
    background: none;
    border: none;
    padding-top: 20px;
    cursor: pointer;
    text-decoration: -webkit-link;
    color: #0073aa;
    transition-property: border, background, color;
    transition-duration: .05s;
    transition-timing-function: ease-in-out;
    text-decoration: underline;
  }

  .dt-button:hover {
    opacity: 0.75;
  }

  .dataTables_paginate {;
    flex: 1;
    margin-bottom: 10px;
    //text-align: left;
    cursor: pointer;
    .paginate_button {
      color: black;
      padding: 0.5em 1em;
      box-sizing: border-box;
      border: 1px solid @border-color;
      box-shadow: 0px 1px 1px @border-color;
      &.next, &.previous {
        padding: 0.5em 1.8em;
        color: @color-error;
      }
      &.disabled {
        color:@grey-light;
      }
      &.current {
        color: white;
        background-color: @color-error;
        border: 0;
      }
    }

  }

  #wpsi-recent-table_previous {
    padding: 0.5em 1.8em;
    color: @color-error;
  }

  #wpsi-recent-table_next {

  }

  /*
      No Results grid item
   */

  .wpsi-nr-overview {
    margin: 0 auto;
    width: 95%;
  }

  .wpsi-nr-title {
    font-size: 1.1em;
    font-weight: 700;
  }

  .wpsi-nr-title-in-widget {
    font-weight: 600;
  }

  .wpsi-nr-header {
    display: flex;
    flex-direction: column;
    height: 50px;
  }

  .wpsi-nr-header-items {
    padding-top: 10px;
    font-weight: 500;
  }

  .nr-widget-results-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid @border-color;
  }

  .popular-terms-title {
    padding-top: 15px;
  }

  /*
    Progress bar
   */

  .progress-bar-container {
    padding-top: 15px;
    margin: 0 auto;

  }

  .progress {
    overflow: hidden;
    height: 20px;
    border-radius: 5px;
    background-color: #f7f7f7;
  }

  .progress .bar {
    height: 100%;
    background-color: @color-success;

  }

  // End progess bar

  .progress-text {
    display: flex;
    padding-top: 20px;
  }

  .percentage {
    font-size: 3.2em;
    font-weight: 700;
  }

  .percentage-text {
    padding-left: 10px;
  }

  // End progress section

  .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
  }

  .dot-and-text {
    display: flex;
  }

  .result-title {
    font-weight: 600;
    padding-left: 10px;
  }

  .dot-success {
    background-color: @color-success;
  }

  .dot-error {
    background-color: @color-error;
  }

  .wpsi-result-count {
    color: @light-text-color;
    padding-top: 10px;
    padding-left: 20px;
  }

  .wpsi-no-results {
    margin-top: -17px;
  }

  .wpsi-total-searches {
    padding-top: 25px;
    padding-bottom: 10px
  }

  .wpsi-search-count {
    font-size: 1.1em;
    font-weight: 700;
    float:right;
  }

  .date-btn-all-searches {
    position: absolute;
    right: 180px;
    margin-top: 5px;
  }

  .wpsi-nr-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

    .dt-buttons {
      margin: 0 auto;
    }
  }

  /*
    Other plugins
   */


  .wpsi-bullet {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .upsell-grid-container{
    //display: flex !important; //we need important here, because the grid switch overrides it on element level
    //justify-content: space-between;
    .rsp-logo {
      img {
        height: 30px;
      }
    }
    .wpsi-upsell {
      display: flex !important; //we need important here, because the grid switch overrides it on element level
      flex-direction: row;
      padding: 6px;
      align-items: center;
      color: @light-text-color;

      .rsssl-yellow {
          background-color: #EFBF4B;
      }

      .cmplz-blue  {
          background-color: #27ADEA;
      }

      .zip-pink {
        background-color: #E366A1;
      }

      .plugin-status {
        margin-left: auto;
      }
    }
  }

  #wpsi-start-export {
    float:right;
  }

  /*
      *
      *   Settings page styling
      *
   */

  .wpsi-settings-intro {
    display: inline-block;
    padding-top: 10px;
    margin-bottom: 25px;
    margin-left: -58px;
  }

  .icon-cog-alt {
    display: inline-block;
    font-size: 2.3em;
    color: #d7263d;
    vertical-align: middle;
  }

  .wpsi-settings-intro-text {
    font-size: 1.3em;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  .rsp-image {
    height: 35px;
    margin-left: 10px;
    margin-bottom: -12px;
  }

  .form-table {
    padding-left: 50px;
  }

  //.form-table > tbody:nth-child(1) > tr:nth-child(6) > th:nth-child(1) {
  //  display: none;
  //}

  #wpsi-filter {
    background-color: #fff;
    height: 250px;
    width: 825px;
    box-shadow: 0px 0px 5px 5px rgba(222, 222, 222, 0.2);
  }

  .settings-title {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 950px) {
    // Prevent sideways scrolling on mobile
    .settings-block {
      width: 85vw !important;
    }
  }

  .settings-title {
    display: flex;
    flex-direction: column;
  }

  #settings {
    .form-table th {
      padding-top:16px;
      font-weight:400;
      width:initial;
    }
    .wpsi-download-link {
      padding-top:6px;
      margin-right: 20px;
    }
    input[type=text], textarea, select {
      border: 1px solid @border-color;
    }
    textarea {width:100%}
    .wpsi-export-grid td {
      display: flex;
    }
  }

  #wpsi_exclude_admin {
    display: none;
  }

  .wpsi_term_length {
    width: 60px;
    text-align: center;
  }

  .thickbox {
    padding-bottom: 20px;
    background-color: @color-error;
    margin-left: -10px;
    color: white;
    border: none;
    height: 30px;
  }

  #clear-searches-btn-border {
    border-bottom: 1px solid @border-color;
    margin-bottom: 20px;
    width: 95%;
  }

  /*
    Tips and Tricks
   */

  .wpsi-tips-tricks, .upsell-grid-container {
    .item-content > div {
      display: flex !important;
      flex-direction: column;
      flex-wrap: wrap;
      height: 100px;
      margin-bottom: 10px;
      border-bottom: 1px solid @border-color;
      @media screen and (max-width: 480px) {
        flex-direction: row;
        overflow: hidden;
      }


      .wpsi-tips-tricks-element, .plugin-text {
        a {
          text-decoration: none;
          color: @light-text-color;

          &:hover {
            color: @brand-primary;
          }
        }

        .wpsi-bullet {
          margin: 7px;
          background-color: @grey-light;
          float: left;

          &:hover {
            background-color: @brand-primary;
          }
        }
        color: @light-text-color;

        .wpsi-tips-tricks-content {
          margin: 7px 0;

          float: left;
        }

      }
    }
  }

  .wpsi-tips-tricks-container-title {
    border-bottom: 1px solid @border-color;
  }

  //make sure tooltips are not bold, because of title wrap
  .wpsi-tooltip-right, .wpsi-tooltip-bottom {
    font-weight:normal;
  }

  /*Tooltips on dashboard/settings page*/
  .wpsi-tooltip-right {
    float: right;
  }

  //.wpsi-grid-tooltip .wpsi-tooltip-right {
  //  float:left;
  //}

  #settings .wpsi-tooltip-right {
    margin-left: 8px;
    margin-top: 1px;
  }

  .dashboard-tooltip-hits > span:nth-child(1) > span:nth-child(1) {
    margin-left: -135px;
  }

  .dashboard-tooltip-from > span:nth-child(1) > span:nth-child(1) {
    margin-left: -65px;
  }

  /*
      Fancy checkboxes
   */

  .wpsi-switch {
    input {
      display: none;
    }

    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
  }

  .wpsi-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      left: 4px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    &.wpsi-round {
      border-radius: 20px;
    }

    &.wpsi-round:before {

      border-radius: 50%;
    }
  }

  input:checked + .wpsi-slider {
    background-color: @color-blue;

    &:before {
      -webkit-transform: translateX(17px);
      -ms-transform: translateX(17px);
      transform: translateX(17px);
    }
  }

  input:checked:disabled + .wpsi-slider {
    background-color: lighten(@color-blue, 40%);
  }


  input:focus + .wpsi-slider {
    box-shadow: 0 0 1px @color-blue;
  }


  /* wpsi-tooltip for settings page */
  /* Base styles for the element that has a wpsi-tooltip */

  [data-wpsi-tooltip],
  .wpsi-tooltip {
    position: relative;
    cursor: pointer;
  }

  /* Base styles for the entire tooltip */

  [data-wpsi-tooltip]:before,
  [data-wpsi-tooltip]:after,
  .wpsi-tooltip:before,
  .wpsi-tooltip:after {
    position: absolute;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition: opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition: opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
  }

  /* Show the entire wpsi-tooltip on hover and focus */

  [data-wpsi-tooltip]:hover:before,
  [data-wpsi-tooltip]:hover:after,
  [data-wpsi-tooltip]:focus:before,
  [data-wpsi-tooltip]:focus:after,
  .wpsi-tooltip:hover:before,
  .wpsi-tooltip:hover:after,
  .wpsi-tooltip:focus:before,
  .wpsi-tooltip:focus:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /* Base styles for the wpsi-tooltip's directional arrow */

  .wpsi-tooltip:before,
  [data-wpsi-tooltip]:before {
    z-index: 1001;
    border: 6px solid transparent;
    background: transparent;
    content: "";
  }

  /* Base styles for the wpsi-tooltip's content area */

  .wpsi-tooltip:after,
  [data-wpsi-tooltip]:after {
    z-index: 1000;
    padding: 8px;
    width: 160px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-wpsi-tooltip);
    font-size: 14px;
    line-height: 1.2;
  }

  /* Directions */

  /* Top (default) */

  [data-wpsi-tooltip]:before,
  [data-wpsi-tooltip]:after,
  .wpsi-tooltip:before,
  .wpsi-tooltip:after,
  .wpsi-tooltip-top:before,
  .wpsi-tooltip-top:after {
    bottom: 100%;
    left: 50%;
  }

  [data-wpsi-tooltip]:before,
  .wpsi-tooltip:before,
  .wpsi-tooltip-top:before {
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: #000;
    border-top-color: hsla(0, 0%, 20%, 0.9);
  }

  /* Horizontally align top/bottom wpsi-tooltips */

  [data-wpsi-tooltip]:after,
  .wpsi-tooltip:after,
  .wpsi-tooltip-top:after {
    margin-left: -80px;
  }

  [data-wpsi-tooltip]:hover:before,
  [data-wpsi-tooltip]:hover:after,
  [data-wpsi-tooltip]:focus:before,
  [data-wpsi-tooltip]:focus:after,
  .wpsi-tooltip:hover:before,
  .wpsi-tooltip:hover:after,
  .wpsi-tooltip:focus:before,
  .wpsi-tooltip:focus:after,
  .wpsi-tooltip-top:hover:before,
  .wpsi-tooltip-top:hover:after,
  .wpsi-tooltip-top:focus:before,
  .wpsi-tooltip-top:focus:after {
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    transform: translateY(-12px);
  }

  /* Left */

  .wpsi-tooltip-left:before,
  .wpsi-tooltip-left:after {
    right: 100%;
    bottom: 50%;
    left: auto;
  }

  .wpsi-tooltip-left:before {
    margin-left: 0;
    margin-right: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-left-color: #000;
    border-left-color: hsla(0, 0%, 20%, 0.9);
  }

  .wpsi-tooltip-left:hover:before,
  .wpsi-tooltip-left:hover:after,
  .wpsi-tooltip-left:focus:before,
  .wpsi-tooltip-left:focus:after {
    -webkit-transform: translateX(-12px);
    -moz-transform: translateX(-12px);
    transform: translateX(-12px);
  }

  /* Bottom */

  .wpsi-tooltip-bottom:before,
  .wpsi-tooltip-bottom:after {
    top: 100%;
    bottom: auto;
    left: 50%;
  }

  .wpsi-tooltip-bottom:before {
    margin-top: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-bottom-color: #000;
    border-bottom-color: hsla(0, 0%, 20%, 0.9);
  }

  .wpsi-tooltip-bottom:hover:before,
  .wpsi-tooltip-bottom:hover:after,
  .wpsi-tooltip-bottom:focus:before,
  .wpsi-tooltip-bottom:focus:after {
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    transform: translateY(12px);
  }

  /* Right */

  .wpsi-tooltip-right:before,
  .wpsi-tooltip-right:after {
    bottom: 50%;
    left: 100%;
  }

  .wpsi-tooltip-right:before {
    margin-bottom: 0;
    margin-left: -12px;
    border-top-color: transparent;
    border-right-color: #000;
    border-right-color: hsla(0, 0%, 20%, 0.9);
  }

  .wpsi-tooltip-right:hover:before,
  .wpsi-tooltip-right:hover:after,
  .wpsi-tooltip-right:focus:before,
  .wpsi-tooltip-right:focus:after {
    -webkit-transform: translateX(12px);
    -moz-transform: translateX(12px);
    transform: translateX(12px);
  }

  /* Move directional arrows down a bit for left/right wpsi-tooltips */

  .wpsi-tooltip-left:before,
  .wpsi-tooltip-right:before {
    top: 3px;
  }

  /* Vertically center wpsi-tooltip content for left/right wpsi-tooltips */

  .wpsi-tooltip-left:after,
  .wpsi-tooltip-right:after {
    margin-left: 0;
    margin-bottom: -16px;
  }
}


/*
    Toggle boxes styling
 */

#wpsi-toggle-dashboard {
  margin-bottom: 10px;
  height: 90px;
  display: none;
  position: relative;
  background-color: #fff;
  border: 1px solid rgb(204, 208, 212);
  border-top: 0;
  box-shadow: 0 0 0 transparent;
  #wpsi-toggle-dashboard-text {
    padding-top: 25px;
    padding-left: 35px;
    font-weight: 600;
  }
  #wpsi-checkboxes {
    padding: 10px 0 0 20px;
    .wpsi-toggle-items {
      margin-left: 15px !important;
    }
  }
}


#wpsi-toggle-link-wrap {
  width: 150px;
  #wpsi-show-toggles {
    width: 135px ;
    background-color: white ;
    color: #000000 ;
    border-color: #ccc;
  }
}

.wpsi-thickboxheader {
  margin-top:15px;
  font-weight: 600;
}



/*
Animated skeleton screen using CSS.

Create shapes using gradients that simulate solids.

Use `:empty` pseduo-class to show skeleton screen background only while container has no content (ex: for the "loading" state). When content is added to the container element, the pseudo-class selector won't match anymore and the skeleton screen will be removed automatically; no need to toggle a separate class on the container.

See: https://developer.mozilla.org/en-US/docs/Web/CSS/:empty

Animating one layer of the background which is a tilted linear gradient with white in the middle to achieve shine effect.
*/
.wpsi-skeleton:empty {

    width: 350px;
    height: 400px; /* change height to see repeat-y behavior */

    background-image:
            linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 80% ),
            linear-gradient( #dadada 20px, transparent 0 ),
            linear-gradient( #dadada 20px, transparent 0 ),
            linear-gradient( #dadada 20px, transparent 0 ),
            linear-gradient( #dadada 20px, transparent 0 );

    background-repeat: repeat-y;

    background-size:
            50px 160px, /* highlight */
            150px 160px,
            350px 160px,
            300px 160px,
            250px 160px;

    background-position:
            0 0, /* highlight */
            0px 0,
            0px 40px,
            0px 80px,
            0px 120px;

    animation: shine 1s infinite;
  }

  @keyframes shine {
    to {
      background-position:
              100% 0, /* move highlight to right */
              0px 0,
              0px 40px,
              0px 80px,
              0px 120px;
    }
  }

  /* Notices */
.wpsi-panel {

  .wpsi-panel-title{
    cursor: pointer;
  }

  .wpsi-field>div{
    margin:10px 0;
  }




  .wpsi-panel-content {
    display:none;
    background-color:#fff;
    border: 1px solid #d6d8db;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 15px;
  }
  h1 {
    font-size:22px;
  }
  font-size: 13px!important;
  p {
    font-size: 13px!important;
  }

  color: #383d41;
  background-color: #F2F2F2;
  border: 1px solid #d6d8db;
  padding: 10px 15px;
  border-radius: 0px;
  margin: 0px 0;

  &.wpsi-notice {
    background-color: #fff;
    border-color: #fff;
    border: 0;
    border-left: 4px solid #29b6f6;
    color: black;
    margin: 10px 0px 10px 0px;
    padding-left: 15px;
  }
  &.wpsi-success {
    background-color: #61ce70;
    border-color: #61ce70;
    color: #fff;
  }
  &.wpsi-warning {
    color: #333333;
    background-color: #fbc43d;
    border-color: #fbc43d;
    margin: 10px 0px 10px 0px;
  }

  ul {
    list-style-type: disc;
    margin-left: 22px;
  }



}
