@brand-primary: #29b6f6;
@color-success: #61ce70;
@color-error: #d7263d;

/**
widget
 */
#dashboard_widget_wpsi {
  .inside {
    padding:0;

  #wpsi-dashboard-widget{
    h3 {
      font-weight:600;
      margin-top:10px;
      margin-left:20px;
    }
    .wpsi-widget-logo {
      margin-left:20px;
      display:flex;
      span {
        padding: 10px;
      }
    }
    ul {
      background-color: #fafafa;
      margin:0;
    }
    li {
      border-top: 1px solid #eee;
      margin: 0;
      padding: 8px 12px;
      color: #32373c;
    }
    li .wpsi-frequency {
      float:right;
      color:#666;

    }
    li .wpsi-time{
      margin-left:25px;
      color:#666;
    }
    .dashicons-arrow-up-alt{
            color:@color-success;
    }
    .dashicons-arrow-down-alt{
      color:@color-error;
    }

    #wpsi-dashboard-widget-footer {
      margin-top: 0;
      margin-bottom: 0;
      padding: 12px;
      border-top: 1px solid #eee;
      color: #ddd;
    }
  }
  }
}
/*
    *
    *   Dashboard styling
    *
 */
#wpsi-dashboard {



  .search-insights-dashboard {
    display: flex;
    flex-flow: row wrap;
    word-break: break-all;
  }

  .tab-link:hover {
    //background-color: #EDEDED;
    //opacity: 0.6;
  }

  .wp-search-insights-main .unix-timestamp {
    display: none;
  }

  /*
      Navigation & tabs
   */

  ul.tabs {
    margin: 0px;
    margin-top: 15px;
    padding: 0px;
    list-style: none;
  }

  ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 15px 15px 15px 15px;
    cursor: pointer;
    margin: 0;
  }

  ul.tabs li.current {
    background: #ffffff;
    color: #222;
  }

  .tab-content {
    display: none;
    background: #ededed;
    padding: 15px;
  }

  .tab-content.current {
    display: inherit;
    background-color:#fff;
    height: 100vh;
  }

  .tab-text {
    color: #444444;
    font-size: 1.4em;
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;
}


/*
  General table styling
*/


  .dataTables_wrapper {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .search-insights-table {
    flex: 1;
    margin: 0 auto;
    margin-right:25px;

    table {
      border: 1px solid #ccc;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      table-layout: fixed;
      justify-content: normal;
    }

    table caption {
      font-size: 1.5em;
      margin: .5em 0 .75em;
      text-align: left;
    }

    table.dataTable thead .sorting {
      background-image: url("../images/sort_both.png");
      background-repeat: no-repeat;
      background-position: center right;
    }

    table.dataTable thead .sorting_asc {
      background-image: url("../images/sort_asc.png");
      background-repeat: no-repeat;
      background-position: center right;
    }

    table.dataTable thead .sorting_desc {
      background-image: url("../images/sort_desc.png");
      background-repeat: no-repeat;
      background-position: center right;
    }


    table tr {
      height: 40px;
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      padding: .35em;
    }

    table th,
    table td {
      padding: .625em;
      text-align: left;
    }

    table th {
      font-size: .85em;
      letter-spacing: .1em;
    }

    thead tr:first-of-type {
      background-color: #FFFFFF;
    }

    tr:nth-child(even) {
      background-color: #FFFFFF;
    }

    tr:nth-child(odd) {
      background-color: #F6F6F6;
    }

    tr:first-child {
      border-top-left-radius: .55rem;
      border-top-right-radius: .55rem;
    }

    tr:last-child {
      margin-bottom: 0;
      border-bottom-left-radius: .55rem;
      border-bottom-right-radius: .55rem;
    }
  }


  @media screen and (max-width: 800px) {
    .search-insights-table table {
      border: 0;
      width: 80%;
    }

    .search-insights-table table caption {
      font-size: 1.3em;
    }

    .search-insights-table table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    .search-insights-table table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }

    .search-insights-table table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }

    .search-insights-table table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    .search-insights-table table td:last-child {
      border-bottom: 0;
    }

    #search-insights-most-popular-table {
      margin-left: 15px;
    }

    .dataTables_info {
      display: none;
    }

  }

  /*
      Individual table styling
   */

  #search-insights-recent-table {

    margin-right: 15px;
  }

  #search-insights-recent-table, #search-insights-most-popular-table {
    width:100%;

  }

  .hit-icon {
    font-size: 1.6em;
  }

  .icon-cancel {
    color: #d7263d;
  }

  .icon-ok {
    color: #61ce70;
  }

  #term-link {
    text-decoration: none;
  }

  /*
      Table footer
   */

    .table-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }

  .dataTables_info {
    text-align: left;
    margin-left: 15px;
    width: 30%;
  }

  .dt-buttons {
    text-align: center;
    width: 30%;
  }

  .dt-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0.333em;
    margin-bottom: 0.333em;
    padding: 0.5em 1em;
    border: 1px solid #999;
    border-radius: 2px;
    font-size: 0.88em;
    line-height: 1.6em;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    background-color: #e9e9e9;
    background-image: -webkit-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: -moz-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: -ms-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='white', EndColorStr='#e9e9e9');
    user-select: none;
    text-decoration: none;
    outline: none;
  }

  .dt-button:hover {
    opacity: 0.75;
  }

  .dt-button:before {
    font-family: fontello;
    content: "\e800";
    margin-right: 5px;
  }

  .dataTables_paginate {
    flex: 1;
    text-align: right;
    cursor: pointer;
  }

  .dataTables_paginate .paginate_button {
    color: black;
    padding: 0.5em 0.8em;
    box-sizing: border-box;
  }

  .dataTables_paginate .current {
    //background-color: #fff;
    border: 1px solid #979797;
    border-radius: 0.3em;
    background: linear-gradient(to bottom, #fff 0%, #F6F6F6 100%);
    font-weight: 600;
  }

  /*
      *
      *   Settings page styling
      *
   */

  .wpsi-settings-intro {
    display: inline-block;
    padding-top: 10px;
    margin-bottom: 25px;
  }

  .icon-cog-alt {
    display: inline-block;
    font-size: 2.3em;
    color: #d7263d;
    vertical-align: middle;
  }

  .wpsi-settings-intro-text {
    font-size: 1.3em;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  .rsp-image {
    height: 35px;
    margin-left: 10px;
    margin-bottom: -12px;
  }

  .wpsi-save-button {
    margin-left: 50px;
  }

  .form-table {
    margin-left: 50px;
  }

  #settings td {
    display: flex;
  }

  #wpsi_exclude_admin {
    display: none;
  }

  .wpsi_term_length {
    width: 60px;
    text-align: center;
  }

  /*Tooltips on dashboard/settings page*/

  #settings .wpsi-tooltip-right {
    float: right;
    margin-left: 8px;
    margin-top: 1px;
  }

  #dashboard .wpsi-tooltip-right {
    float: right;
  }

  .dashboard-tooltip-hits > span:nth-child(1) > span:nth-child(1) {
    margin-left: -135px;
  }

  .dashboard-tooltip-from > span:nth-child(1) > span:nth-child(1) {
    margin-left: -65px;
  }

  /*
      Fancy checkboxes
   */

  .wpsi-switch {
    input {
      display: none;
    }

    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
  }

  .wpsi-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      left: 4px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    &.wpsi-round {
      border-radius: 20px;
    }

    &.wpsi-round:before {

      border-radius: 50%;
    }
  }

  input:checked + .wpsi-slider {
    background-color: @brand-primary;

    &:before {
      -webkit-transform: translateX(17px);
      -ms-transform: translateX(17px);
      transform: translateX(17px);
    }
  }

  //input:disabled + .wpsi-slider {
  //  background-color: lighten(#ccc, 40%);
  //  &:before{
  //    //background-color:#c6c6c6;
  //  }
  //}

  input:checked:disabled + .wpsi-slider {
    background-color: lighten(@brand-primary, 40%);

    &:before {
      //background-color:#c6c6c6;
    }
  }


  input:focus + .wpsi-slider {
    box-shadow: 0 0 1px @brand-primary;
  }


  /* wpsi-tooltip for settings page */
  /* Base styles for the element that has a wpsi-tooltip */

  [data-wpsi-tooltip],
  .wpsi-tooltip {
    position: relative;
    cursor: pointer;
  }

  /* Base styles for the entire tooltip */

  [data-wpsi-tooltip]:before,
  [data-wpsi-tooltip]:after,
  .wpsi-tooltip:before,
  .wpsi-tooltip:after {
    position: absolute;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition: opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition: opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
  }

  /* Show the entire wpsi-tooltip on hover and focus */

  [data-wpsi-tooltip]:hover:before,
  [data-wpsi-tooltip]:hover:after,
  [data-wpsi-tooltip]:focus:before,
  [data-wpsi-tooltip]:focus:after,
  .wpsi-tooltip:hover:before,
  .wpsi-tooltip:hover:after,
  .wpsi-tooltip:focus:before,
  .wpsi-tooltip:focus:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /* Base styles for the wpsi-tooltip's directional arrow */

  .wpsi-tooltip:before,
  [data-wpsi-tooltip]:before {
    z-index: 1001;
    border: 6px solid transparent;
    background: transparent;
    content: "";
  }

  /* Base styles for the wpsi-tooltip's content area */

  .wpsi-tooltip:after,
  [data-wpsi-tooltip]:after {
    z-index: 1000;
    padding: 8px;
    width: 160px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-wpsi-tooltip);
    font-size: 14px;
    line-height: 1.2;
  }

  /* Directions */

  /* Top (default) */

  [data-wpsi-tooltip]:before,
  [data-wpsi-tooltip]:after,
  .wpsi-tooltip:before,
  .wpsi-tooltip:after,
  .wpsi-tooltip-top:before,
  .wpsi-tooltip-top:after {
    bottom: 100%;
    left: 50%;
  }

  [data-wpsi-tooltip]:before,
  .wpsi-tooltip:before,
  .wpsi-tooltip-top:before {
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: #000;
    border-top-color: hsla(0, 0%, 20%, 0.9);
  }

  /* Horizontally align top/bottom wpsi-tooltips */

  [data-wpsi-tooltip]:after,
  .wpsi-tooltip:after,
  .wpsi-tooltip-top:after {
    margin-left: -80px;
  }

  [data-wpsi-tooltip]:hover:before,
  [data-wpsi-tooltip]:hover:after,
  [data-wpsi-tooltip]:focus:before,
  [data-wpsi-tooltip]:focus:after,
  .wpsi-tooltip:hover:before,
  .wpsi-tooltip:hover:after,
  .wpsi-tooltip:focus:before,
  .wpsi-tooltip:focus:after,
  .wpsi-tooltip-top:hover:before,
  .wpsi-tooltip-top:hover:after,
  .wpsi-tooltip-top:focus:before,
  .wpsi-tooltip-top:focus:after {
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    transform: translateY(-12px);
  }

  /* Left */

  .wpsi-tooltip-left:before,
  .wpsi-tooltip-left:after {
    right: 100%;
    bottom: 50%;
    left: auto;
  }

  .wpsi-tooltip-left:before {
    margin-left: 0;
    margin-right: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-left-color: #000;
    border-left-color: hsla(0, 0%, 20%, 0.9);
  }

  .wpsi-tooltip-left:hover:before,
  .wpsi-tooltip-left:hover:after,
  .wpsi-tooltip-left:focus:before,
  .wpsi-tooltip-left:focus:after {
    -webkit-transform: translateX(-12px);
    -moz-transform: translateX(-12px);
    transform: translateX(-12px);
  }

  /* Bottom */

  .wpsi-tooltip-bottom:before,
  .wpsi-tooltip-bottom:after {
    top: 100%;
    bottom: auto;
    left: 50%;
  }

  .wpsi-tooltip-bottom:before {
    margin-top: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-bottom-color: #000;
    border-bottom-color: hsla(0, 0%, 20%, 0.9);
  }

  .wpsi-tooltip-bottom:hover:before,
  .wpsi-tooltip-bottom:hover:after,
  .wpsi-tooltip-bottom:focus:before,
  .wpsi-tooltip-bottom:focus:after {
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    transform: translateY(12px);
  }

  /* Right */

  .wpsi-tooltip-right:before,
  .wpsi-tooltip-right:after {
    bottom: 50%;
    left: 100%;
  }

  .wpsi-tooltip-right:before {
    margin-bottom: 0;
    margin-left: -12px;
    border-top-color: transparent;
    border-right-color: #000;
    border-right-color: hsla(0, 0%, 20%, 0.9);
  }

  .wpsi-tooltip-right:hover:before,
  .wpsi-tooltip-right:hover:after,
  .wpsi-tooltip-right:focus:before,
  .wpsi-tooltip-right:focus:after {
    -webkit-transform: translateX(12px);
    -moz-transform: translateX(12px);
    transform: translateX(12px);
  }

  /* Move directional arrows down a bit for left/right wpsi-tooltips */

  .wpsi-tooltip-left:before,
  .wpsi-tooltip-right:before {
    top: 3px;
  }

  /* Vertically center wpsi-tooltip content for left/right wpsi-tooltips */

  .wpsi-tooltip-left:after,
  .wpsi-tooltip-right:after {
    margin-left: 0;
    margin-bottom: -16px;
  }
}